<div 
  class="bibtex collapsed"   
  xmlns:BibTeX="http://purl.oclc.org/NET/nknouf/ns/BibTeX" 
  typeof="BibTeX:article"
>
{% highlight bibtex %}
@article{doi/10.48550/ARXIV.2209.07493,
  doi = {10.48550/ARXIV.2209.07493},
  url = {https://arxiv.org/abs/2209.07493},
  author = {Saunders, Jonny L.},
  keywords = {General Literature (cs.GL), FOS: Computer and information sciences, FOS: Computer and information sciences, K.2; K.4.1; K.4.3; E.2; H.5.3; H.4.3; K.6.4},
  title = {Decentralized Infrastructure for (Neuro)science},
  publisher = {arXiv},
  year = {2022},
  copyright = {Creative Commons Attribution Non Commercial Share Alike 4.0 International}
}	
{% endhighlight %}
</div>
