<div class='annotation-container'>
	<h2>Current Document Status (21-12-02):</h2>
	<p>
		I have removed all the text past the {{ "[`#draftmarker`](#draftmarker)" | markdownify }} and replaced it with extreme summary placeholder text so that I could start sharing this with people to read and give feedback on. If you are reading this, at this point <strong>please do not redistribute this link!</strong> As you'll see it is still *very* drafty <3
	</p>
	<p>
		Almost there!!!!! just finishing up the [conclusion!!!](#conclusion)
	</p>
	<p>
		Paragraphs preceded with double exclamation points !! are provisional, placeholder text that is intended to be rewritten <3 
	</p>
	<p>
		The page loading is being bogged down by hypothes.is, unfortunately. I've submitted an issue: <a href="https://github.com/hypothesis/client/issues/3919">https://github.com/hypothesis/client/issues/3919</a>
	</p>
</div>