<div class='annotation-container'>
	<h2>Current Document Status (21-10-04):</h2>
	<p>
		working on the federated systems section when i found out about the cross-section between the biomedical data translator and the nih strategic plan and realized a great horror. 
	</p>
	<p>
		macro-draft status is that there is an enormous amount of redundancy that needs to be pared down, as well as some jarring scope shifts between neuroscience and science broadly. 
	</p>
	<p>
		Paragraphs preceded with double exclamation points !! are provisional, placeholder text that is intended to be rewritten <3 
	</p>
</div>