<div class='annotation-container'>
	<h2>Current Document Status (21-11-04):</h2>
	<p>
		I have removed all the text past the {{ "[`#draftmarker`](#draftmarker)" | markdownify }} and replaced it with extreme summary placeholder text so that I could start sharing this with people to read and give feedback on. If you are reading this, at this point <strong>please do not redistribute this link!</strong>
	</p>
	<p>
		currently working through some structural shifts in [#experimental frameworks](#experimental_frameworks) section, this is complicated!
	</p>
	<p>
		Paragraphs preceded with double exclamation points !! are provisional, placeholder text that is intended to be rewritten <3 
	</p>
	<p>
		Everything else is text that has been drafted several times, but as of the current draft needs an enormous amount of editing! sorry for the redundancy (please mark it when you see it)! I tend to write very, uh, "emotional" and then edit for tone later, so I also ask for the assumption of good intent and not trying to talk shit about anyone's work!
	</p>
</div>