.post {
  padding: 3rem 0;

  &-info {
    // color: $default-tint;
    font-family: $serif-primary;

    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 2rem;

  }

  &-date {
    font-style: italic;
  } 

  &-author {
    font-family: $sans-serif;
    font-weight: 700;
    font-style: none;
  }

  &-title {
    color: $default-shade;
    font-family: "Source Serif Pro";
    font-weight: 900;
    font-size: 5rem;
    margin: 1rem 0;
    text-align: left;
    margin-bottom: 0;
    // text-align: center;

    @media (max-width: $width-tablet){
      font-size: 3rem;
    }

    @media (max-width: $width-mobile){
      font-size: 2rem;
    }

  }

  &-subtitle {
    font-style: italic;
    font-weight: 200;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  &-line {
    border-top: 1px solid $default-shade;
    display: block;
    margin: 1rem auto 0.5rem 0;
    width: 50%;
  }

  p {
    margin: 0 0 1rem;
    // text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  // make superscripts not expand paras
  sup {
    line-height: 0;

    a {
      line-height: 0;
    }
  }
}
