$menuWidth: 35%;
$menuPaddingLeft: 0%;

$break-sm: 600px;
$break-md: 900px;

body {
  padding: 0 $menuWidth+$menuPaddingLeft 0 0;

  @media (max-width: $break-md) {
    padding: 0;
  }
}


.toc {
  // position: fixed;
  // right: $menuPaddingLeft;
  top: 2%;
  padding: 5%;
  width: 100%;
  line-height: 2;

  &>ol>li {
    margin-left:15px;
  }


  ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    counter-reset: toc-subcount;
  }

  ol>li {
    counter-increment: toc-subcount;

    &:hover::before,&.visible::before {
      content: counters(toc-subcount, '.');
      // list-style: none;
    }
    &:before {
      // content: counter(toc-subcount);
      // list-style: none;
      padding-right: 10px;
      position:absolute;
      left:20px;
    }
  }

  ul ul, ol ol {
    padding-left: 1em;
  }

  li a {
    display: inline-block;
    color: #888;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }

  li {
    padding-left: 8px;
  }

  li.visible>a, li:hover>a {
    color: #000;
    // transform: translate( 2px );
  }

  // collapse
  ol>li ol {
    // display: none;
    height: 100%;
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    transition: max-height 1s ease, margin 0.1s linear;
    // height: 0;

    &.opened, {
      // display: inherit;
      max-height: 1000px;
      margin: 0 0 10px 0;
    }
  }

  // ol>li:hover {
  //   &>ol {
  //     max-height: 1000px;
  //     margin: 0 0 10px 0;
  //     transition-delay: 0.5s;
  //   }
  // }
}

.mobile-toc-drawer {
  ol>li ol {
    max-height: 1000px;
    margin: 0 0 10px 0;
  }
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  path {
    transition: all 0.3s ease;
  }
}


