@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
// @import 'tale/catalogue';
@import 'tale/404';
// @import 'tale/tags';

@import 'sections/annotation';
@import 'sections/bib';
@import 'sections/header';

@import 'components/notebook';

@import 'typography';
@import 'hypothesis';
@import 'etc';
@import 'rdfa';
@import 'toc';
