---
layout: default
---
<div class="post">
    <div class="post-info">
        <h1 class="post-title" property="title">{{ page.title }}</h1>
        
        {% if page.subtitle %}
          <h2 class="post-subtitle">{{ page.subtitle }}</h2>
        {% endif %}

        <div class="post-line"></div>

        {% if page.author %}
          {% for author in page.author %}
          <span property="author" resource="#au:{{ author.name | slugify: "ascii" }}" typeof="Person">
            <span class="post-author" property="name">{{ author.name }}</span>
            <span property="email" content="{{ author.email }}"> 
            <a href="mailto:{{ author.email }}">
                <i class="far fa-envelope"></i>
            </a>
            </span>
          </span>
          {% endfor %}
        {% else %}
          <span class="post-author">{{ site.author.name }}</span>
        {% endif %}

        <br>

        {% if page.date %}
        <div class="post-date">
            <span>First Published &nbsp;</span>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
        {% endif %}

        {% capture time %}{{ content | reading_time }}{% endcapture %}
        {% capture words %}{{ content | count_words }}{% endcapture %}

        <div class="post-date">
            <span>Rendered: </span>
            <time datetime="{{ site.time | date: "%Y-%M-%d"}}"> {{ site.time | date: "%Y-%m-%d" }}</time> - <span style="color:#444; font-style:none">permalink:</span> <a href="/infrastructure/versions/{{ site.data['hash'] }}"><code>{{ site.data['hash'] }}</code></a> {% if page.pdf_link %} - <a href="{{ page.pdf_link }}"><code>PDF VERSION</code></a> {% endif %}

        </div>

        <div class="wordcount">
            <p>Estimated Reading Time: {{ time }} minutes ({{ words }} words)</p>
        </div>

        


        <div class="acknowledgements">
            <h3>With gratitude to...</h3>
            {% for group in page.acknowledgements %}
            <div class="group">
                <span class="prefix">{{ group.prefix }}</span>
                {% for contributor in group.members %}
                    <span class="name" property="contributor" typeof="Person">
                        <span property="name" content="{{ contributor }}">
                            {{ contributor }},
                        </span>
                    </span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>
    {% if page.abstract %}
        <div class="abstract" property="abstract">
            {{ page.abstract }}
        </div>
    {% endif %}


    <div property="articleBody">
    {{ content }}
    </div>
</div>
