---
layout: default
---
<div class="post">
    <div class="post-info">
        <h1 class="post-title">{{ page.title }}</h1>
        
        {% if page.subtitle %}
          <h2 class="post-subtitle">{{ page.subtitle }}</h2>
        {% endif %}

        <div class="post-line"></div>

        {% if page.author %}
          <span class="post-author">{{ page.author }}</span>
        {% else %}
          <span class="post-author">{{ site.author.name }}</span>
        {% endif %}

        <br>

        {% if page.date %}
        <div class="post-date">
            <span>First Published &nbsp;</span>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
        {% endif %}

        <div class="post-date">
            <span>Rendered: </span>
            <time datetime="{{ site.time | date: "%Y-%M-%d"}}"> {{ site.time | date: "%Y-%m-%d" }}</time> - <a href="https://github.com/sneakers-the-rat/infrastructure/commit/{{ site.data['hash'] }}"><code>{{ site.data['hash'] }}</code></a>
        </div>
    </div>
    {{ content }}
</div>
