.acknowledgements {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto;
	border: 1px #ccc solid;
	padding: 2em;
	border-radius: 10px;
	filter: drop-shadow(2px 2px 1px);
	background: white;
	margin: 1em 0;

	.name {
		font-style: italic;
		color: $grey-1;
	}

	h3 {
		margin-bottom: 0px;
		margin-top: 0px;
	}
}